body{
    
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.header{
    background: url('../img/back.png') #21062A;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header__inner{
    height: 700px;
    position: relative;
}
.header-box__top{
    display: flex;
    justify-content: space-between;
    padding-top: 55px ;
}
.header__phone{
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header__text {
 color: #FFFFFF;   
}
h1{
    margin-top: 90px;
    font-size: 72px;
    line-height: 90px;
    text-transform: uppercase;
}
.header-text__info{
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
}
.header-text__desccr{
    margin-top: 35px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}
.header__btn{
        margin-top: 30px;

}
.button a {
    font-family: 'Oswald';
    font-style: normal;
    width: 250px;
    height: 50px;
    background-color: #5A0D67;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #000000;
    padding: 15px 25px;
    font-family: 'Oswald';
    font-style: normal;
}
.button a:hover{
    background-color: #FFFFFF;
    color: #5A0D67;
}
.header__icons ul{
    display: flex;
    margin: 65px 65px 65px 50px;
}
.header__icons li{
    margin-right: 10px;
}
.header__img{
    position: absolute;
    bottom: -200px;
    right: -30px;
}
.services__h {
    margin-top: 310px;
}
h2{
font-size: 36px;
line-height: 48px;
text-transform: uppercase;
color: #21062A;
margin-right: 18px;
}
.services__h, .title{
    display: flex;
}
.line{
    width: 80px;
    height: 0px;
    border: 2px solid #21062A;
    align-self: center;
}
.services__box{
    display: flex;
    margin-top: 55px;

}
.tabcontainer{
    display: flex;
}
.services__info{
    padding-right: 80px;
    width: 600px;
}
h4{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #5A0D67;
    
}
.services__text{
     font-size: 18px;
    line-height: 27px;
    font-weight: 300;
}
.services-text__first,
.services-text__third{
    margin: 20px 0;
}
.services-text__second{
    margin-bottom: 80px; 
}
.services__menu{
    width: 600px;
}
.tab__item{
    line-height: 53px;
    color: #C4C4C4;
    padding: 15px 25px; 
    font-weight: 300;
    font-size: 24px;
    line-height: 26px;
    color: #2C2B2B;
    
    border: 1px solid #C4C4C4;
    height: 75px;
    margin-bottom: 10px;
}
.tab__item::first-line {
    color: #5A0D67;

} 
.tab__item_active{
    width: 1100px;
    border: 2px solid #5A0D67;
}
.services__btn{
    margin-top: 50px;    
}
.info__inner{
    position: relative;
}
.info__img{
    position: absolute;
    left:0;
    top: 0;
}
.info__h{
    margin: 100px 0 50px 600px;
}
.info__list{
    margin-left: 415px;
    background-color: #21062A;
    padding: 30px 230px 45px 185px;
   font-weight: 300;
   color: #FFFFFF;

}
.info-list__number {
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
}
.info-list__text {
    font-size: 24px;
    line-height: 36px;
}
.info-list__descr {
    font-size: 18px;
    line-height: 22px;
    color: #C4C4C4;
}
.cars__h{
    margin-top: 100px;
}
.cars__h, .title{
    display: flex;
}
.cars-slider__item{
    margin-top: 50px ;
    
    padding: 7px 5px 15px 9px;
    border: 1px solid #C4C4C4;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
}

.cars-slider__item:hover{
   background-color: #5A0D67;
   color: #FFFFFF;
}
.slider-item__model{
    margin-top: 28px;
    text-align: center;

}
.slider-item__descr{
    margin-top: 15px;
    text-align: center;
}
.cars-slider{
    text-align: center;
}
.cars-slider .slick-dots{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.reviews-slider .slick-dots li{
    margin: 0 20px;
}
.cars-slider .slick-dots li.slick-active button{
    background-color: #5A0D67;
    border: 2px solid #5A0D67;
}
.cars-slider .slick-dots button{
    margin-right: 7px;
    font-size: 0;
    width: 50px;
    height: 3px;
    padding: 0;
    border: 1px solid #C4C4C4;
    background-color: #C4C4C4;
}
.promotion{
    margin-top: 50px;
    padding:70px 0 100px 0;
    position:relative
}
.promotion .container{
    display:flex
}
.promotion .bgc_y{
    position:absolute;
    width:50%;
    height:499px;
    background:rgba(243,255,222,.35);
    z-index:-1;
    top:-50px;
    left:0
}
.promotion__text{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.promotion__h{
    display: flex;
}
.promotion__descr{
    margin-top:40px;
    font-size:20px;
    line-height:24px;
    font-weight:300
}
.promotion__descr span{
    font-weight:700;
    font-size:26px
}
.promotion__timer{
    width:50%
}
.promotion__timer .title__timer{
    text-align:center;
    font-size: 30px;
    line-height: 36px;

}
.promotion__timer .timer{
    margin-top:60px;
    padding-left:95px;
    display:flex;
    justify-content:space-between;
    align-items:center
}
.promotion__timer .timer__block{
    margin-right: 15px;
    width:102px;
    height:120px;
    background:#fff;
    box-shadow:0 4px 20px rgba(0,0,0,.25);
    font-size:16px;
    font-weight:300;
    text-align:center
}
.promotion__timer .timer__block span{
    display:block;
    margin-top:20px;
    margin-bottom:5px;
    font-size:56px;
    font-weight:700
}
.contacts__inner{
    display: flex;
    margin-top: 90px;
}
.contacts__h{
    margin-top: 60px;
}
.contacts-adress__text{
    margin-top: 40px;
    font-family: Oswald;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}
.adress-text__h {
    color: #5A0D67;
    margin-top: 25px;
}
.adress-text__content {
    font-family: Oswald;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}
.adress-text__descr {
    font-family: Oswald;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}
.contacts__adress{
    width: 600px;
}
.contacts__form{
    background-color: #21062A;
    width: 600px;
    height: 466px
}
.contacts-form__h{
    display: flex;
        margin-top: 60px;
        justify-content: center;
}
.contacts-form__h h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.line__form{
   border: 2px solid #FFFFFF; 
   width: 80px;
   height: 0px;
   align-self: center;
}
.form__box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    background-color: #21062A;
    Width: 450px;
    height: 75px;
    border: 1px solid #FFFFFF;
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
}
input::placeholder{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
}
.name{
    margin-top: 20px;
}
.phone{
    margin-top: 12px;
}
.contacts__btn{
    margin-top: 78px;
    font-family: 'Oswald';
    font-style: normal;
    width: 250px;
    height: 50px;
    background-color: #5A0D67;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #000000;
    padding: 15px 25px;
}
.contacts__btn:hover{
    background-color: #FFFFFF;
    color: #5A0D67;
}
.footer{
    background: #21062A;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
.footer__icons ul{
    display: flex;
    margin-top: 18px;
}
.footer__icons li{
    margin-right: 10px;
    
}
.footer__text{
    margin-top: 15px;

}
.footer__text a{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.modal{
    position:fixed;
    top:0;
    left:0;
    z-index:1050;
    display:none;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(0,0,0,.5)
}
.modal__dialog{
    max-width:500px;
    margin:40px auto
}
.modal__content{
    position:relative;
    width:100%;
    padding:40px;
    background-color:#fff;border:1px solid rgba(0,0,0,.2);
    border-radius:4px;
    max-height:80vh;
    overflow-y:auto
}
.modal__close{
    position:absolute;
    top:8px;
    right:14px;
    font-size:30px;
    color:#000;
    opacity:.5;
    font-weight:700;
    border:none;
    background-color:transparent;
    cursor:pointer
}
.modal__title{
    text-align:center;
    font-size:22px;
    text-transform:uppercase
}
.modal__input{
    display:block;
    margin:20px auto 20px auto;
    width:280px;
    height:50px;
    background:#fff;
    box-shadow:0 4px 15px rgba(0,0,0,.2);
    border:none;
    font-size:18px;
    text-align:center;
    padding:0 20px;
    outline:0
}
.modal .btn{
    display:block;
    width:280px;
    height: 50px;
    margin:0 auto
}
.show{display: block;
}
.hide{display: none;
}
.fade{animation-name: fade; animation-duration: 1.5s;}
@keyframes fade{from{opacity: 0.1;}to{opacity: 1;}}